.secondary-dropdown {
  position: relative;
  width: 200px;
}

.secondary-dropdown > button {
  width: 100%;
}

.secondary-dropdown > ul {
  border: 1px solid #ccc;
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: white;
  z-index: 1000;
}

.secondary-dropdown > ul > li {
  padding: 8px;
  cursor: pointer;
  background-color: white;
}

.secondary-dropdown > ul > li.selected {
  background-color: #def;
}
