 .table {
     max-height: 100%;
     overflow: auto;
     margin: 0px;
     white-space: nowrap;

     td,
     th {
         padding: 6px;
     }

     .pob-cabecera-tabla {
         position: sticky;
         top: 0;
         z-index: 1;
         background-color: rgb(181, 202, 219);
     }

     /* ------------------------------------------ */

     .pob-align-right {
         text-align: right;
     }

     .pob-align-center {
         text-align: center;
     }

     /* ------------------------------------------ */

     .row-genre-total {
         background-color: white;
         font-weight: bold;
     }

     .row-genre-hombre {
         background-color: rgb(227, 254, 255);
     }

     .row-genre-mujer {
         background-color: rgb(253, 240, 255);
     }

     /* ------------------------------------------ */

     .row-emp-publico {
         background-color: rgb(253, 240, 255);
     }

     .row-emp-privado {
         background-color: rgb(227, 254, 255);
     }

     /* ------------------------------------------ */

     .row-emp-sector-total {
         background-color: rgb(192, 178, 178);
     }

     .row-emp-sector-agricultura {
         background-color: rgb(212, 255, 210);
     }

     .row-emp-sector-industria {
         background-color: rgb(235, 231, 231);
     }

     .row-emp-sector-construccion {
         background-color: rgb(227, 254, 255);
     }

     .row-emp-sector-servicios {
         background-color: rgb(253, 240, 255);
     }




 }