@import './vars.css';

.drs {
    width: 90%;
    user-select: none;
    --track-height: 6px;
    --thumb-size: 16px;
}

.drs-title {
    margin: 0 0 6px 0;
    font-size: 14px;
    color: #111;
}

.drs-title.is-disabled {
    color: #777;
}

.drs-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.drs-labels {
    width: 15%;
    height: calc(max(var(--thumb-size), 28px));
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 2px;
    color: #333;
    justify-content: center;
    /* background-color: antiquewhite; */
}

.drs-sliderWrap {
    width: 70%;
    position: relative;
    height: calc(max(var(--thumb-size), 28px));
    flex-grow: 1;
    /* background-color: rgb(174, 224, 141); */
}

.drs-base {
    position: absolute;
    left: 0;
    right: 0;
    top: calc((var(--thumb-size) - var(--track-height)) / 2);
    height: var(--track-height);
    background: #e5e7eb;
    border-radius: 999px;
}

.drs-selected {
    position: absolute;
    height: var(--track-height);
    top: calc((var(--thumb-size) - var(--track-height)) / 2);
    background: var(--terciary-blue-color);
    border-radius: 999px;
    z-index: 1;
}

/* Inputs de rango superpuestos */
.drs-input {
    width: 100%;
    position: absolute;
    top: -6px;
    height: var(--thumb-size);
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    pointer-events: none;
    left: -2px;
    right: 0;
    z-index: 2;
}

/* Track nativo: sin padding/márgenes */
.drs-input::-webkit-slider-runnable-track {
    height: var(--track-height);
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.drs-input::-moz-range-track {
    height: var(--track-height);
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

.drs-input::-ms-track {
    height: var(--track-height);
    background: transparent;
    border: none;
    color: transparent;
    margin: 0;
    padding: 0;
}

/* Thumb */
.drs-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--terciary-blue-color);
    border: 1px solid var(--primary-blue-color);
    box-shadow: 0 1px 2px var(--terciary-blue-color);
    pointer-events: auto;
    cursor: pointer;
    margin-top: 0;
    position: relative;
    z-index: 3;
}

.drs-input::-moz-range-thumb {
    height: var(--thumb-size);
    width: var(--thumb-size);
    border-radius: 50%;
    background: var(--terciary-blue-color);
    border: 2px solid var(--terciary-blue-color);
    box-shadow: var(--terciary-blue-color);
    pointer-events: auto;
    cursor: pointer;
    position: relative;
    z-index: 3;
}