@import './vars.css';

.page-pob-container {
  height: var(--content-height);
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.page-pob-header {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 8%;
}

.page-pob-main {
  display: flex;
  height: 92%;
}
.page-pob-main-100height {
  display: flex;
  height: 100%;
}

.pob-left-panel {
  width: 36%;
  max-height: 100%;

  .contenedor-piramide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  h2 {
    margin: 0;
  }
}

.pob-right-panel {
  background-color: rgb(116, 141, 161);
  width: 64%;
  display: flex
}

.mouse-cursor-pointer {
  cursor: pointer;
}