@import './vars.css';

.page-screener-container {
    height: var(--content-height);
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: aquamarine;
}

.screener-left-panel {
    width: 32%;
    height: 100%;
    background-color: rgb(245, 229, 229);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screener-right-panel {
    background-color: rgb(116, 141, 161);
    width: 68%;
    height: 100%;
    display: flex
}

.screener-buscar-button{
    width: 33%;
    height: 3rem;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-top: 1rem;
}
