@media screen and (max-width: 1400px),
screen and (max-height: 800px) {

    html,
    body,
    #root {
        background-color: red;
    }

    .menu-container-otrascifras h3 {
        margin-left: 0px;
        margin-right: 0px;
    }

}