:root {
  --general-gap: 14px;

  --general-border-radius: 15px;

  --general-background-color: rgb(178, 183, 190);

  --primary-blue-color: rgb(22, 64, 99);
  --secondary-blue-color: rgb(54, 101, 139);
  --terciary-blue-color: rgb(204, 238, 255);

  --genre-hombre-color-light: rgb(141, 248, 252, 0.3);
  --genre-hombre-color: rgb(141, 248, 252);
  --genre-mujer-color-light: rgba(244, 175, 255, 0.3);
  --genre-mujer-color: rgb(244, 175, 255);

  --sector-agricultura-light: rgba(55, 196, 47, 0.1);
  --sector-industria-light: rgba(243, 175, 72, 0.1);
  --sector-servicios-light: rgba(75, 72, 243, 0.1);
  --sector-construccion-light: rgba(243, 72, 72, 0.1);
  --sector-agricultura: rgba(55, 196, 47);
  --sector-industria: rgba(243, 175, 72);
  --sector-servicios: rgba(75, 72, 243);
  --sector-construccion: rgba(243, 72, 72);


  /*Borrar en el futuro:*/
  --content-height: 87%;

  --back-color-maybe: rgb(231, 233, 236);
  /*Borrar en el futuro:*/
}

.dircolumn {
  flex-direction: column;
}

.hidden {
  display: none;
}