:root {
  --general-gap: 14px;

  --general-border-radius: 15px;

  --primary-blue-color: #08156b;
  --terciary-blue-color: rgb(204, 238, 255);

  --genre-hombre-color-light: rgb(141, 248, 252, 0.3);
  --genre-hombre-color: rgb(141, 248, 252);
  --genre-mujer-color-light: rgba(244, 175, 255, 0.3);
  --genre-mujer-color: rgb(244, 175, 255);

  /*Borrar en el futuro:*/
  --content-height: 87%;

  --back-color-maybe: rgb(231, 233, 236);
  /*Borrar en el futuro:*/
}

.dircolumn {
  flex-direction: column;
}

.hidden {
  display: none;
}