@import '../vars.css';

.menu-container__img {
    padding: 20px;
}

.menu-container__main-title {
    margin: 0px;
    padding-left: 20px;
    font-size: 48px;
}

.menu-container__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
}

.menu-container__links section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.menu-container__links a {
    text-decoration: none;
    margin-bottom: 4px;
    color: black;
}

.menu-container__links__empleo a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(250, 204, 1);
    text-decoration-thickness: 2px;
}

.menu-container__links__poblacion a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-blue-color);
    text-decoration-thickness: 2px;
}