@import '../vars.css';

.menu-container__img {
    padding: 20px;
}

.menu-container__main-title {
    margin: 0px;
    padding-left: 20px;
    font-size: 48px;
}

.menu-container__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
}

.menu-container__links section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.menu-container__links a {
    text-decoration: none;
    /* color: var(--primary-blue-color); */
    color: black;
    margin-bottom: 4px;
}

.menu-container__links a:hover {
    text-decoration: underline;
}