@import '../vars.css';

.menu-container-otrascifras {
    height: 100%;
    width: 100%;
    display: flex;
    border-radius: var(--general-border-radius);
    cursor: pointer;
}

.menu-container-otrascifras h3 {
    margin-left: 20px;
    margin-top: 24px;
    margin-right: 0px;
}

.menu-container-otrascifras-img-uno {
    padding: 10px;
}

.menu-container-otrascifras-img-dos {
    padding: 24px;
    margin-top: 5px;
}


.menu-container__img {
    padding: 20px;
    cursor: pointer;
}

.menu-container__main-title {
    margin: 0px;
    padding-left: 20px;
    font-size: 48px;
}

.menu-container__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    padding-left: 20px;
}

.menu-container__links section {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.menu-container__links a {
    text-decoration: none;
    margin-bottom: 4px;
    color: black;
}

.menu-container__links__empleo a:hover {
    text-decoration: underline;
    text-decoration-color: rgb(250, 204, 1);
    text-decoration-thickness: 2px;
}

.menu-container__links__poblacion a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary-blue-color);
    text-decoration-thickness: 2px;
}