/* Overlay: fondo semitransparente */
.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    /* encima de todo */
}

/* Contenedor del contenido del modal */
.modal-content {
    background: #fff;
    padding: 20px 24px;
    border-radius: 12px;
    width: 30%;
    height: 66%;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    position: relative;
    outline: none;
    border: none;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
}

.modal-header img {
    height: 100%;
}
.modal-header svg {
    height: 50%;
    padding-bottom: 6%;
}

.modal-body {
    margin: 12px 0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}