@import '../vars.css';

.table {
    max-height: 100%;
    overflow: auto;
    margin: 0;
    white-space: nowrap;
    border-radius: var(--general-border-radius);
    border: 8px solid white;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Celdas */
.table td,
.table th {
    padding: 9px;
}

/* Cabecera fija */
.table .table-header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-radius: var(--general-border-radius);
    color: #fff;
}

.table-header-poblacion {
    background-color: var(--secondary-blue-color);
}

.table-header-empleo {
    background-color: var(--secondary-yellow-color);
}


/* Bordes tabla */
.table-separator tbody tr:nth-child(1n) td {
    border-bottom: 1px solid #999;
}

.table-separator tbody tr td {
    border-right: 1px solid #999;
}

/* Table spacing for pub priv table*/
.table-spacing-bottom {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.table-spacing-bottom tr:nth-child(2n) td {
    padding: 8px 12px;
}

.table-spacing-bottom tbody tr:nth-child(1n) td {
    border-bottom: 0px solid #99999900;
}

.table-spacing-bottom tbody tr:nth-child(2n) td {
    border-bottom: 1px solid #999;
}



/* ------------------------- */

.table .table-header th:first-child,
.table .table-header th:last-child {
    background-clip: padding-box;
}

.table .table-header th:first-child {
    border-top-left-radius: 15px;
}

.table .table-header th:last-child {
    border-top-right-radius: 15px;
}

/* Alineaciones */
.table .pob-align-right {
    text-align: right;
}

.table .pob-align-center {
    text-align: center;
}

/* Colores genero */
.table .row-genre-total {
    background-color: #fff;
    font-weight: bold;
}

.table .row-genre-hombre {
    background-color: var(--genre-hombre-color-light);
}

.table .row-genre-mujer {
    background-color: var(--genre-mujer-color-light);
}

/* Sectores específicos */
.table .row-emp-sector-total {
    background-color: #fff;
    font-weight: bold;
}

.table .row-emp-sector-agricultura {
    background-color: var(--sector-agricultura-light);
}

.table .row-emp-sector-industria {
    background-color: var(--sector-industria-light);
}

.table .row-emp-sector-servicios {
    background-color: var(--sector-servicios-light);
}

.table .row-emp-sector-construccion {
    background-color: var(--sector-construccion-light);
}


/* Publico privado colors */
.table .row-emp-privado {
    background-color: var(--sector-servicios-light);
}

.table .row-emp-publico {
    background-color: var(--sector-construccion-light);
}

/* Cursor */
.table .mouse-cursor-pointer {
    cursor: pointer;
}