.screener-muni-result {
    display: flex;
    width: 100%;

    div {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.screener-muni-result-a {
    background-color: rgb(196, 196, 243);
}

.screener-muni-result-b {
    background-color: rgb(240, 221, 221);
}

.screener-muni-result-header {
    background-color: rgb(247, 230, 206);
    font-size: large;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}