.pob-resizer {
    height: 100%;
    width: var(--general-gap);
    cursor: e-resize;
    position: relative;
    user-select: none;
}

.pob-resizer::before,
.pob-resizer::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background: #444444;
    border-radius: 1px;
}

.pob-resizer::before {
    top: 25%;
}

.pob-resizer::after {
    top: 55%;
}